@media only screen and (min-width:992px) and (max-width:1200px) {
	.hero-text h1 {
		font-size: 45px
	}

	a.video-play-btn {
		right: 51%
	}

	.hero-area div.hero-form {
		bottom: -20%
	}

	.cart-buttons a:first-child {
		margin-right: 0;
		margin-bottom: 15px
	}

	.comment-template form p input[type=email],
	.contact-form form p input[type=email] {
		margin-left: 8px
	}

	.contact-form-box h4 i {
		left: -20%
	}

	ul.main-menu li a {
		padding: 15px 13px
	}

	span.close-btn {
		right: 0
	}

	ul.sub-menu li a {
		padding: 7px 10px
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {

	.comment-template form p input[type=email],
	.contact-form form p input[type=email] {
		margin-top: 15px;
		margin-left: 0
	}

	.copyright .social-icons,
	.copyright p,
	.header-icons,
	.site-logo {
		text-align: center
	}

	.hero-text h1 {
		font-size: 40px
	}

	.footer-box {
		margin-bottom: 40px
	}

	.feature-bg:after,
	nav.main-menu {
		display: none
	}

	.single-product-img,
	.single-team-item {
		margin-bottom: 30px
	}

	table.cart-table {
		margin-bottom: 50px
	}

	.order-details-wrap {
		margin-top: 50px
	}

	.comment-template form p input[type=email],
	.comment-template form p input[type=text],
	.contact-form form p input[type=email],
	.contact-form form p input[type=tel],
	.contact-form form p input[type=text],
	.single-product-img img,
	.single-project-img img,
	table.order-details {
		width: 100%
	}

	.contact-form form p input[type=tel] {
		margin-bottom: 15px
	}

	.hero-area div.hero-form {
		width: 325px;
		top: 30%
	}

	.sidebar-section {
		margin-left: 0;
		margin-top: 50px
	}

	.site-logo a img {
		max-width: 150px
	}

	.site-logo {
		position: absolute;
		z-index: 999
	}

	.mean-container .mean-bar {
		z-index: 2
	}

	.responsive-menu-wrap {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-top: 10px;
		margin-left: -57.5px
	}

	.top-header-area {
		padding: 15px 0
	}

	.hero-text-tablecell {
		padding: 0 70px
	}

	.hero-form .hero-text h1 {
		font-size: 30px
	}

	.hero-form .hero-text p.subtitle {
		font-size: 13px
	}

	.hero-form .hero-btns a.bordered-btn {
		margin-left: 0;
		margin-top: 20px
	}

	.sticky-wrapper.is-sticky .top-header-area {
		position: absolute !important;
		background-color: transparent
	}

	.featured-box {
		padding: 30px
	}

	.featured-section {
		padding: 100px 0
	}

	.contact-form-box h4 i {
		left: -7%
	}

	.single-product-content h3 {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.6
	}

	.single-product-content {
		margin-left: 15px
	}

	a.mobile-hide.search-bar-icon,
	a.mobile-hide.shopping-cart {
		display: none !important
	}

	.mobile-show {
		display: block !important
	}

	a.mobile-show.search-bar-icon {
		position: absolute;
		right: 60px;
		top: 22px;
		z-index: 999;
		color: #fff
	}

	a.mobile-show.shopping-cart {
		position: absolute;
		right: 50px;
		top: 10px;
		z-index: 999;
		color: #fff
	}
}

@media only screen and (max-width:767px) {
	.site-logo img {
		max-width: 150px
	}

	.responsive-menu-wrap {
		top: -35px;
		position: relative
	}

	span.close-btn {
		right: 35px
	}

	.hero-text h1 {
		font-size: 28px
	}

	.hero-text p.subtitle {
		font-size: 13px
	}

	.error-text h1,
	.section-title h3 {
		font-size: 25px
	}

	.single-media-wrap h4,
	p.testimonial-body {
		font-size: 15px
	}

	.responsive-menu {
		left: auto;
		right: 0
	}

	a.video-play-btn {
		right: auto;
		left: 50%
	}

	.shop-banner h3 {
		font-size: 34px
	}

	.footer-box,
	.section-title,
	.single-team-item,
	.text-block {
		margin-bottom: 50px
	}

	.copyright p,
	.hero-btns,
	.hero-text,
	.social-icons {
		text-align: center
	}

	.footer-area {
		padding: 80px 0
	}

	.breadcrumb-text h1,
	.service-icon-tablecell i {
		font-size: 30px
	}

	.display-hidden,
	.feature-bg:after,
	.main-menu {
		display: none
	}

	.team-bg {
		height: 450px
	}

	.total-section {
		margin-top: 30px
	}

	.order-details-wrap {
		margin-top: 50px
	}

	.comment-template form p input[type=email],
	.comment-template form p input[type=text],
	.contact-form form p input[type=email],
	.contact-form form p input[type=tel],
	.contact-form form p input[type=text] {
		width: 100%
	}

	.cart-buttons a:first-child,
	.contact-form form p input[type=tel] {
		margin-bottom: 15px
	}

	.comment-template form p input[type=email],
	.contact-form form p input[type=email],
	.single-product-content {
		margin-left: 0;
		margin-top: 15px
	}

	.comment-template h4,
	.comments-list-wrap h3,
	.find-location p,
	.form-title h2,
	.search-bar-tablecell input,
	.single-article-text h2,
	h2.widget-title {
		font-size: 20px
	}

	.sidebar-section {
		margin-left: 0;
		margin-top: 50px
	}

	.product-image {
		padding: 60px 60px 0
	}

	.header-icons {
		text-align: right
	}

	.feature-bg {
		margin: 100px 0
	}

	.margin-top-150p {
		margin-top: 650px
	}

	.hero-area div.hero-form {
		right: 0;
		width: auto;
		top: 0
	}

	.hero-btns a.boxed-btn {
		display: block;
		margin: 0 auto
	}

	.hero-btns a.bordered-btn {
		margin-left: 0;
		margin-top: 15px;
		display: block
	}

	.section-title p,
	p.testimonial-body {
		max-width: 285px
	}

	.sticky-wrapper.is-sticky .top-header-area {
		position: absolute !important;
		background-color: transparent;
		padding: 25px 0
	}

	.featured-box {
		padding: 0 45px;
		margin-bottom: 10px
	}

	.featured-section {
		padding: 100px 0
	}

	.header-icons {
		margin-top: 0
	}

	.site-logo {
		position: absolute;
		z-index: 99
	}

	.mean-container .mean-bar {
		z-index: 2
	}

	.comment-text-body h4,
	.featured-box h3,
	.service-text h3 {
		font-size: 18px
	}

	.featured-box h2 {
		font-size: 23px
	}

	.cta-text h3 {
		line-height: 1.6
	}

	.news-text-box h3,
	.single-product-content h3 {
		font-size: 20px;
		line-height: 1.5
	}

	.copyright p {
		padding-bottom: 0
	}

	.single-service-box {
		padding: 30px
	}

	.service-icon-table {
		height: 80px
	}

	.cart-table-wrap {
		width: 100%;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: thin;
		scrollbar-color: #888 #ddd
	}

	table.cart-table {
		width: 690px
	}

	.contact-form-box h4 i {
		left: -20%
	}

	.comment-text-body p,
	.featured-text p {
		line-height: 1.8
	}

	.single-artcile-bg {
		height: 300px
	}

	.comment-user-avater img {
		max-width: 45px
	}

	.comment-text-body {
		padding-left: 60px
	}

	.comment-text-body h4 a {
		display: block;
		border: none;
		margin-left: 0;
		margin-top: 10px
	}

	.single-comment-body.child {
		margin-left: 0
	}

	a.mobile-hide.search-bar-icon,
	a.mobile-hide.shopping-cart {
		display: none !important
	}

	.mobile-show {
		display: block !important
	}

	a.mobile-show.search-bar-icon {
		position: absolute;
		right: 98px;
		top: 22px;
		z-index: 999;
		color: #fff
	}

	a.mobile-show.shopping-cart {
		position: absolute;
		right: 63px;
		top: 22px;
		z-index: 999;
		color: #fff
	}
}

@media only screen and (min-width:480px) and (max-width:767px) {
	.hero-area div.hero-form {
		margin: 0 auto 0 -190px;
		right: auto;
		width: 380px;
		left: 50%
	}

	.hero-btns {
		text-align: center
	}

	.hero-btns a.bordered-btn {
		margin-left: 0;
		margin-top: 15px;
		display: block
	}
}